*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.main{
background-color:grey;
height: 575px;
}
.container{
  margin-top: 50px;
  margin-left: 400px;
  font-size: 30px;

  }
  h5{
      color: white;
      font-style:italic;
  }
  .btn{
  
      margin-left: 80px;
      margin-top: 30px;
      width: 110px;
      height: 40px;
      font-size: 23px;
      font-weight: bolder;
      font-style: italic;
      cursor: pointer
  }
  
  .horizontal-line {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      border-top: 1px solid rgb(248, 246, 246);
  }
  button{
  width: 100px;
  height: 30px;
  font-size: 24px;
  font-style: italic;
  margin-top: 135px;
  margin-left: 198px;
}
  h2{
      
      
      color: white;
      font-size: 20px;
      margin-left: 630px;
  }
  h3{
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  font-size: 18px;
  color: white;
  text-decoration: none;
  background-color: #555;
  padding: 10px 15px;
  border-radius: 2px
  }
  input#guess 
      {
      position: absolute;
      top: calc(50% - 25px); /* Adjust the value to vertically center the button */
      left: 50%;
      transform: translateX(-50%);
      padding:16px 17px;
      background-color: white;
      color: black;
      cursor: pointer;
      }
.point{
  color: #fff;
  margin-left: 530px;
}